body {
	background-image: url(matan.jpg);
	background-position: 10%;
	font-family: gabriola;
	font-size:30px;
	font-weight: bold;
}
.Header {
	display:flex;
	background: linear-gradient(0deg, #4EC8B5 20%, #878473 45%, #FAC4FC 75%, #B48EE3);
	height: 200px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 25%;


}
.HeaderText {
	background: radial-gradient(#BFDBCF 35%, #5B379E);
	min-height: 70px;
	min-width: 200px;
	box-sizing:border-box;
	border-bottom-right-radius: 35%;
	border-bottom-left-radius: 35%;
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
	border-style:solid;
}
.mainField {
	min-height: 400px;
	padding:40px 300px;
	background: radial-gradient(#FAFFB0, #9FFFF3, #ECF7F7 80%, #730D0D, #0C4610);
	box-sizing: border-box;
	border-radius:20%;
	margin-top:50px;


}


input[type = number]:not(.razlozhimoe) {
width:50px;
border-radius: 25%;
border:groove #B4B040 3px;
font-weight: bold;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.razlozhimoe {
  width: 250px;
  border-radius: 10%;
  border:solid #3139E0 3px;

}
.factorize-result {
max-width:500px;
word-break:break-all;

}